<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stock">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expiration">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>Expiration</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sales">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>