<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios"></span>
        <ion-icon name="close-outline" showWhen="android,windows" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="addProductToStock()">
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Box size</ion-label>
      <ion-input type="number" formControlName="boxSize"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Barcode</ion-label>
      <ion-input type="text" formControlName="price" disabled="true">{{ barcode }}</ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Expiration date</ion-label>
      <ion-datetime min={{minimumDate}} formControlName="expiresAt"></ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [disabled]="!ionicForm.valid">Add product</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>